        /* 320px, 768px і 1158px. */
        /* min-width - ОТ */
        /* max-width - ДО */

        .container{
            width: 1158px;
            height: 100px;
            background-color: aqua;
        }



        /* TABLET */
        @media screen and (max-width:768px) {
            .container{
                width: 768px;
                height: 300px;
                background-color: bisque;
            }
        }   

        /* MOBILE */
        @media screen and (max-width:320px) {
            .container{
                width: 320px;
                height: 200px;
                background-color:blue;

            }
        }
